@model SocialNetwork.ViewModels.StatisticsViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Statistics</h2>
<p>Average posts per user</p>
@Model.AveragePostPerUser
<p>Average followers per user</p>
@Model.AverageFollowersPerUser