<ul>
    <li><a href="@Url.Action("Timeline", "Home")">Home</a></li>
    <li><a href="#news">Search</a></li>
    <li><a href="@Url.Action("Overview", "Profile")">Profile</a></li>
    <li style="float:right"><a class="active" href="@Url.Action("Logout", "Account")">Logout</a></li>
</ul>
