@{
    ViewData["Title"] = "Home";
}
<partial name="_Menu">
    <div class="content-wrapper">
        <div class="notification-container">
            <a href="@Url.Action("FriendRequests", "Home")">Friend Requests</a>
        </div>
    </div>