
@{
    ViewData["Title"] = "Error";
}
<div class="content-wrapper">
    <div class="error-container">
        <p>:(</p>
    </div>
    <div class="errorMessage-container">
        <p>An error has occurred while processing your request</p>
    </div>
</div>
