.upload-container {
    background-color: white;
    width: 340px;
    padding: 6px 6px 0 6px;
    float: left;
    margin: 12px 8px 0 auto;
    border-radius: 3px;
}

.bioField {
    width: 420px;
    padding: 2px;
    height: 84px;
    border: 1px solid #dddddd;
    resize: none;
}

.inputField-edit {
    width: 420px;
    height: 26px;
    border: 1px solid #dddddd;
    padding: 2px;
}

.edit-container {
    background-color: white;
    width: 428px;
    float: left;
    padding: 6px 6px 0 6px;
    margin: 12px auto 48px auto;
    border-radius: 3px;
}

.uploadbtn {
    width: 352px;
    margin: 12px 0 0 -6px;
    border: none;
    padding: 4px;
    cursor: pointer;
    background-color: transparent;
    color: #D55844;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


.saveBtn {
    width: 440px;
    margin: 0 0 0 -6px;
    border: none;
    padding: 4px;
    cursor: pointer;
    background-color: transparent;
    color: #D55844;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
