.upload-container {
    background-color: white;
    width: 340px;
    padding: 6px 6px 0 6px;
    float: left;
    margin: 12px 8px 0 auto;
}


.titlefield {
    width: 788px;
    height: 26px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 2px;
    margin-left: -4px;
}

.bioField {
    width: 420px;
    padding: 2px;
    height: 84px;
    border: 1px solid #dddddd;
    resize: none;
}

.inputField-edit {
    width: 420px;
    height: 26px;
    border: 1px solid #dddddd;
    padding: 2px;
}

.edit-container {
    background-color: white;
    width: 428px;
    float: left;
    padding: 6px 6px 0 6px;
    margin: 12px auto 48px auto;
}

.uploadbtn {
    width: 352px;
    margin: 12px 0 0 -6px;
    border: none;
    padding: 4px;
    cursor: pointer;
    background-color: #4167B2;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

    .uploadbtn:hover {
        background-color: #4e79ce;
    }

.saveBtn {
    width: 440px;
    margin: 0 0 0 -6px;
    border: none;
    padding: 4px;
    cursor: pointer;
    background-color: #4167B2;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

    .saveBtn:hover {
        background-color: #4e79ce;
    }