.UserPortrait {
    background-color: white;
    width: 306px;
    height: 566px;
    margin: 12px 4px 4px 4px;
    overflow: hidden;
    float: left;
    font-size: 16px;
    position: relative;
    border-radius: 3px;
}

    .UserPortrait p {
        line-height: 2px;
    }

.profileaction a {
    color: #D55844;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    margin-left: -4px;
    width: 100%;
    bottom: 0;
    position: absolute;
    font-weight: bold;
}


.profileaction-frozen a {
    color: #D55844;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    margin-left: -4px;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.username-display {
    text-align: center;
    font-size: 18px;
    height: 100px;
    margin: 0 0 150px 0;
    background-color: #D55844;
}

.post-container {
    background-color: white;
    float: right;
    width: 470px;
    min-height: 300px;
    margin: 12px 4px 4px 4px;
    position: relative;
    word-wrap: break-word;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
    border-radius: 3px;
}

.post-options{
    font-size: 34px;
    color: #9c9c9c;
    float: right;
    margin-top: -20px;   
}

    .post-options a {
        text-decoration: none;
    }

.post-popup  {
    float: right;
    border: 1px solid #dddddd;
    border-radius: 3px;
    width: 80px;
    background-color: #eeeeee;
    margin: -14px 6px 0 0;
    padding: 4px;
}

.post-popup a{
    color: #9c9c9c;
    text-decoration: none;    
}

.post-options a:hover {
    color: #D55844;
    cursor: pointer;
}

.postheader {
    width: 462px;
    height: 40px;
    padding: 4px;
    border-bottom: 1px solid #dddddd;
}

.posttime {
    font-size: 13px;
    color: #7c7c7c;
}

.likecontainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 24px;
    padding: 4px;
    font-size: 16px;
}

.postmessage {
    padding: 4px;
    font-size: 16px;
}

.posttitle {
    font-size: 26px;
}

.profile-picture img {
    height: 100%;
    width: 100%;    
    object-fit: cover;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-picture {
    height: 148px;
    width: 148px;
    overflow: hidden;
    margin: auto;
    border-radius: 98px;    
    border: 4px solid white;
    background-color: white;
}

.profile-left-wrapper {
    float: left;
    width: 312px;
}

.info-container {
    padding: 0 4px 0 4px;
}
