.UserPortrait {
    background-color: white;
    padding: 4px;
    width: 306px;
    height: 520px;
    margin: 6px 4px 4px 4px;
    overflow: hidden;
    float: left;
    font-size: 16px;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

    .UserPortrait p {
        line-height: 2px;
    }

.profileaction a {
    color: white;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    margin-left: -4px;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: #4167B2;
}

    .profileaction a:hover {
        background-color: #4e79ce;
    }

.profileaction-frozen a {
    color: white;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    margin-left: -4px;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: #7c7c7c;
}

.username-display {
    text-align: center;
    font-size: 18px;
    height: 210px;
    border-bottom: 1px solid #dddddd;
    margin: 0;
}

.post-container {
    background-color: white;
    float: right;
    width: 470px;
    min-height: 300px;
    margin: 6px 4px 4px 4px;
    position: relative;
    word-wrap: break-word;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.postheader {
    width: 462px;
    height: 40px;
    padding: 4px;
}

.posttime {
    font-size: 13px;
    color: #7c7c7c;
}

.likecontainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 26px;
    font-size: 16px;
}

.postmessage {
    padding: 4px;
    font-size: 16px;
}

.posttitle {
    font-size: 26px;
}

.profile-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-picture {
    height: 178px;
    width: 178px;
    overflow: hidden;
    margin: auto;
    border-radius: 92px;
}

.profile-left-wrapper {
    float: left;
    width: 312px;
}
