.newpost {
    background-color: white;
    float: right;
    width: 462px;
    text-align: center;
    margin: 6px 4px 4px 4px;
    padding: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

    .newpost a {
        color: blue;
        font-size: 13px;
        text-decoration: none;
    }

        .newpost a:hover {
            color: #8d8dff;
            cursor: pointer;
        }


.postField {
    width: 788px;
    padding: 2px;
    height: 126px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    resize: none;
    margin-left: -4px;
}

.post-form {
    background-color: white;
    width: 784px;
    padding: 4px 4px 0 4px;
    margin: 12px auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.postBtn {
    width: 793px;
    margin: 12px 0 -8px -5px;
    border: none;
    padding: 4px;
    cursor: pointer;
    background-color: #3A559D;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

    .postBtn:hover {
        background-color: #4766b9;
    }

.postimage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.postimage {
    overflow: hidden;
    margin: auto auto 32px auto;
}