.newpost {
    background-color: white;
    float: right;
    width: 462px;
    text-align: center;
    margin: 12px 4px 4px 4px;
    padding: 4px;
    border-radius: 3px;
}

    .newpost a {
        color: #D55844;
        font-size: 13px;
        text-decoration: none;
        font-weight: bold;
    }

        .newpost a:hover {
            cursor: pointer;
        }


.postField {
    width: 768px;
    padding: 2px;
    height: 126px;
    border: 1px solid #dddddd;
    resize: none;
}

.post-form {
    background-color: white;
    width: 784px;
    padding: 4px 4px 4px 4px;
    margin: 12px auto;
    border-radius: 3px
  
}

.postBtn {
    width: 793px;
    margin: 12px 0 -8px -5px;
    border: none;
    padding: 4px;
    cursor: pointer;
    background-color: transparent;
    color: #D55844;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


.postimage img {
    height: 420px;
    width: 100%;
    object-position: 0 0 ;
    object-fit: cover;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.postimage {
    overflow: hidden;
    margin: auto auto 32px auto;
}

.titlefield {
    width: 768px;
    height: 26px;
    border: 1px solid #dddddd;
    padding: 2px;
}