@page
<partial name="_Menu">
    <div class="content-wrapper">
        <div id="messagesList" class="messagesList">
        </div>
        <div class="Message-bar">
            <input type="text" id="messageInput" class="chatInput" placeholder="Send a message" />
            <input type="submit"id="sendButton" value="&#9993;" class="chatBtn"/>
        </div>        
</div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
