@page
<partial name="_Menu">
    <div class="content-wrapper">
        <div id="messagesList" class="messagesList">
        </div>
        <div class="Message-bar">
            <input type="text" id="messageInput" class="chatInput"/>
            <input type="button" id="sendButton" value="Send Message" class="chatBtn"/>
        </div>
         
</div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
