.friendRequest-container {
    background-color: white;
    width: 400px;
    padding: 4px;
    margin: 6px 4px 4px 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.recievedTime {
    font-size: 11px;
    color: #7c7c7c;
}

.friendRequest-action {
    float: right;
    font-size: 14px;
    width: 100px;
    margin: -16px 8px -8px 8px;
}

    .friendRequest-action a {
        text-decoration: none;
        margin-right: 10px;
        color: blue;
    }

        .friendRequest-action a:hover {
            color: #8d8dff;
            cursor: pointer;
        }
