.searchField {
    width: 714px;
    height: 26px;
    border: 1px solid #dddddd;
    padding: 2px;
    margin-right: -5px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.searchButton {
    width: 72px;
    height: 32px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-left: none;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
}
