.searchField {
    width: 710px;
    height: 32px;
    border: none;
    padding: 2px 2px 2px 8px;
    margin-right: -5px;
    margin-top: 12px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.searchButton {
    width: 72px;
    height: 36px;
    border: none;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
    margin-top: 12px;
}
