@model SocialNetwork.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<div class="form-wrapper">
    <div class="form-container">
        <h2>Login</h2><br />
        @Model.ErrorMessage

        <form asp-action="VerifyUserCombination" autocomplete="off">
            <span asp-validation-for="Username"></span><br />
            <label asp-for="Username"></label>
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Username" placeholder="Username" class="inputField" /><br />
            <span asp-validation-for="Password"></span><br />
            <label asp-for="Password"></label>
            <input asp-for="Password" placeholder="Password" class="inputField" /><br />
            <input type="submit" value="Sign In" class="inputButton" />
        </form>

    </div>
    <div class="form-action">
        <a asp-action="Register">Register</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
