@model SocialNetwork.ViewModels.AccountViewModel

@{
    ViewData["Title"] = "Register";
}
<div class="form-wrapper">
    <div class="form-container">
        <h2>Register</h2>
        <form asp-action="RegisterUser" autocomplete="off">
            <div asp-validation-summary="ModelOnly"></div>
            <span asp-validation-for="Username"></span><br />
            <label asp-for="Username"></label>
            <input asp-for="Username" placeholder="Username" class="inputField" /><br />
            <span asp-validation-for="Password"></span><br />
            <label asp-for="Password"></label>
            <input asp-for="Password" placeholder="Password" class="inputField" /><br />
            <span asp-validation-for="Firstname"></span><br />
            <label asp-for="Firstname"></label>
            <input asp-for="Firstname" placeholder="Firstname" class="inputField" /><br />
            <span asp-validation-for="Middlename"></span><br />
            <label asp-for="Middlename"></label>
            <input asp-for="Middlename" placeholder="Middlename" class="inputField" /><br />
            <span asp-validation-for="Lastname"></span><br />
            <label asp-for="Lastname"></label>
            <input asp-for="Lastname" placeholder="Lastname" class="inputField" /><br />
            <span asp-validation-for="Birthdate"></span><br />
            <label asp-for="Birthdate"></label>
            <input asp-for="Birthdate" type="date" placeholder="Birthdate" class="inputField" /><br />
            <input type="submit" value="Create" class="inputButton" />
        </form>
    </div>
    <div class="form-action">
        <a asp-action="Login">Login</a>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
