ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

li {
    float: left;
}

    li a {
        display: block;
        text-align: center;
        color: black;
        padding: 12px 14px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            color: #979797;
        }

.active {
    background-color: white;
}

    .active:hover {
        color: #979797;
    }
