ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a1a1a1;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 12px 14px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #c1c1c1;
        }

.active {
    background-color: #a1a1a1;
}
