ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3A559D;
}

li {
    float: left;
}

    li a {
        display: block;
        text-align: center;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
    }

        li a:hover:not(.active) {
            color: #979797;
        }

.active {
    background-color: #3A559D;
}

    .active:hover {
        color: #979797;
    }


.notification-container {
    background-color: white;
    width: 100%;
    padding: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}


    .notification-container a {
        color: blue;
        font-size: 13px;
        text-decoration: none;
    }

        .notification-container a:hover {
            color: #8d8dff;
            cursor: pointer;
        }
