.basic-container {
    border: 1px solid #cccccc;
    background-color: white;
    padding: 4px;
    width: 280px;
    height: 280px;
    margin: 6px 4px 4px 4px;
    overflow: hidden;
    float: left;
    font-size: 14px;
}

    .basic-container p {
        line-height: 2px;
    }

.newpost {
    float: right;
    width: 464px;
    text-align: center;
    margin: 6px 4px 4px 4px;
    padding: 4px;
}

    .newpost a {
        color: blue;
        font-size: 13px;
        text-decoration: none;
    }

        .newpost a:hover {
            color: #8d8dff;
            cursor: pointer;
        }

.profileaction a {
    color: blue;
    font-size: 13px;
    text-decoration: none;
}

    .profileaction a:hover {
        color: #8d8dff;
    }

.Friend-container {
    background-color: white;
    border: 1px solid #cccccc;
    float: left;
    width: 280px;
    height: 200px;
    margin: 4px;
    overflow: hidden;
    padding: 4px;
}

.profile-left-wrapper {
    float: left;
    width: 300px;
}

.username-display {
    text-align: center;
    font-size: 18px;
    height: 26px;
}

.post-container {
    background-color: white;
    border: 1px solid #cccccc;
    float: right;
    width: 470px;
    min-height: 200px;
    margin: 6px 4px 4px 4px;
    position: relative;
    word-wrap: break-word;
}

.postheader {
    width: 462px;
    height: 40px;
    padding: 4px;
}

.posttime {
    font-size: 11px;
    color: #7c7c7c;
}

.likecontainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px;
    font-size: 14px;
}

.postmessage {
    padding: 4px;
    font-size: 14px;
}

.posttitle {
    font-size: 24px;
}
