.basic-container {
    background-color: white;
    padding: 4px;
    width: 306px;
    height: 370px;
    margin: 6px 4px 4px 4px;
    overflow: hidden;
    float: left;
    font-size: 16px;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

    .basic-container p {
        line-height: 2px;
    }

.newpost {
    background-color: white;
    float: right;
    width: 462px;
    text-align: center;
    margin: 6px 4px 4px 4px;
    padding: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

    .newpost a {
        color: blue;
        font-size: 13px;
        text-decoration: none;
    }

        .newpost a:hover {
            color: #8d8dff;
            cursor: pointer;
        }

.profileaction a {
    color: blue;
    font-size: 13px;
    text-decoration: none;
    padding: 4px;
    border-top: 1px solid #dddddd;
    margin-left: -4px;
    width: 100%;
    bottom: 0;
    position: absolute;
}

    .profileaction a:hover {
        color: #8d8dff;
    }

.profile-left-wrapper {
    float: left;
    width: 312px;
}

.username-display {
    text-align: center;
    font-size: 18px;
    height: 20px;
    margin: -2px -6px -2px -6px;
    border-bottom: 1px solid #dddddd;
}

.post-container {
    background-color: white;
    float: right;
    width: 470px;
    min-height: 200px;
    margin: 4px 4px 4px 4px;
    position: relative;
    word-wrap: break-word;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.postheader {
    width: 462px;
    height: 40px;
    padding: 4px;
}

.posttime {
    font-size: 13px;
    color: #7c7c7c;
}

.likecontainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px;
    font-size: 16px;
}

.postmessage {
    padding: 4px;
    font-size: 16px;
}

.posttitle {
    font-size: 26px;
}

.follower {
    height: 18px;
    width: 100%;
    padding: 6px;
    font-size: 16px;
    border: 1px solid #dddddd;
}

.follower-container {
    background-color: white;
    float: left;
    width: 314px;
    margin: 4px;
    overflow: hidden;
    padding-top: 12px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.follower-header {
    text-align: center;
    font-size: 18px;
    height: 26px;
    border-bottom: 1px solid #dddddd
}
