.searchField {
    width: 430px;
    height: 26px;
    border: 1px solid #dddddd;
    padding: 2px;
    margin-right: -5px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.searchButton {
    width: 72px;
    height: 32px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-left: none;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
}

.userportret {
    background-color: white;
    padding: 4px;
    width: 426px;
    height: 120px;
    margin: 8px 0 8px 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.username {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

    .username:hover {
        font-size: 16px;
        text-decoration: none;
        color: #878787;
    }
