body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eeeeee;
    margin: 0;
    overflow-x: hidden;
}

.form-container {
    background-color: white;
    width: 300px;
    padding: 6px;
    margin: 100px auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.edit-container {
    background-color: white;
    width: 788px;
    padding: 6px;
    margin: 12px auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.bioField {
    width: 466px;
    padding: 2px;
    margin-top: 16px;
    height: 166px;
    border: 1px solid #dddddd;
    resize: none;
    border-radius: 2px;
}

.postField {
    width: 778px;
    padding: 2px;
    height: 126px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    resize: none;
}

.inputField {
    width: 293px;
    height: 26px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    padding: 2px;
}

.editLeftSide {
    float: left;
    width: 293px;
}

.editRightSide {
    float: right;
    width: 366px;
}

.inputButton {
    width: 100%;
    height: 28px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    padding: 4px 14px 4px 14px;
    margin: 4px 0 0 0;
    cursor: pointer;
    background-color: #ffffff;
}

    .inputButton:hover {
        background-color: #dddddd;
    }

.content-wrapper {
    overflow: hidden;
    width: 800px;
    margin: auto;
    padding: 4px;
}

.post-form {
    background-color: white;
    width: 784px;
    padding: 4px;
    margin: 12px auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.form-action {
    margin: 12px -6px -6px -6px;
    background-color: white;
    height: 20px;
    width: 300px;
    border-top: 1px solid #dddddd;
    padding: 6px;
}

    .form-action a {
        color: blue;
        text-decoration: none;
    }

        .form-action a:hover {
            color: #8d8dff;
        }

.title-container {
    text-align: center;
    font-size: 20px;
}

.saveBtn {
    width: auto;
    height: 28px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    padding: 4px 14px 4px 14px;
    margin: 4px 0 0 0;
    cursor: pointer;
    background-color: #ffffff;
}

    .saveBtn:hover {
        background-color: #dddddd;
    }
