
@{
    ViewData["Title"] = "PageNotFound";
}
<partial name="_Menu">
    <div class="content-wrapper">
        <div class="error-container">
            <p>:(</p>
        </div>
        <div class="errorMessage-container">
            <p>The profile could not be found</p>
        </div>
    </div>