ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #3A559D;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

li {
    float: left;
}

    li a {
        display: block;
        text-align: center;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
    }

        li a:hover:not(.active) {
            background-color: #4766b9;
        }

.active {
    background-color: #3A559D;
}

    .active:hover {
        background-color: #4766b9;
    }
